<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- customcss -->

    <style>
        a {
            text-decoration: none;
            color: white;
            outline: none;
        }

        button {
            text-decoration: none;
        }

        body {
            background-color: rgb(227, 252, 182);
        }

        .back {
            color: blue;
        }

        .Esubmit {
            margin-left: 10px;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    </style>

</head>

<body>
    <center>
        <h1>Edit Any List</h1>

        <form method="POST" action="">
            {% csrf_token %}
            {{form}}
            <button class="Esubmit btn btn-info" type="submit">Edit</button>
        </form>
        <br>
        <br>
        <a class="back" href="http://127.0.0.1:8000/"> go to list </a>
    </center>
</body>

</html>