{% extends "Todo/base.html" %}

{% block content %}
<div class="container">

    <form method="POST" action="reg">
        {% csrf_token %}

        <div class="form-group ">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div><br>

        <div class="form-group ">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div><br>



        <div class="form-group ">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" required>
        </div><br>

        <div class="form-group ">
            <label for="password2">ReType Password</label>
            <input type="password" class="form-control" id="password2" name="password2" required>
        </div><br>


        <button type="submit" class="btn btn-info">Register</button>
        <a href="home"><button type="button" class="btn btn-primary">Home</button></a>
        <a href="/"><button type="button" class="btn btn-success">Login</button></a>
    </form>

</div>
{% endblock %}